<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <!--pluralize处理大多数单词的单复数变换-->
      The form contains <%= pluralize(object.errors.count,"error") %>
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>